{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Showing all listings in Category: {{category}}</h2><br>
    {% for listing in listings %}
            <div>
                {% if listing.url_img != "" %}
                    <img src = {{listing.url_img}} alt="img not found" width="300" height="400">
                {% endif %}
                <a href = "{% url 'listing' listing.id%}">
                    <h4>{{listing.title}}</h4>
                </a>
                    <h6>{{listing.description}}</h6>
                    {% if listing.status == "I" %}
                       <strong><h4>!AUCTION CLOSED!</h4></strong>
                    {% endif %}
                    <h6><strong>Starting Bid:</strong> ₹{{listing.starting_bid}}</h6>
                    {% if listing.highest_bid != 0 %}
                        <h6><strong>Current Price:</strong> ₹{{listing.highest_bid}}</h6>
                    {% endif %}
            </div>
    {% endfor %}

{% endblock %}